/* ::::CSS Sequence (7 steps):::: */

/* step1: parentContainer */
/* step2: component */
/* step3: componentContainer */
/* step4: row */
/* step5: column */
/* step6: subColumn */
/* step7: contentContainer */

/* ::::CSS Sequence (7 steps):::: */

/* navBar */

/* step1: parentContainer */

/* already written in style.css */

/* step2: component */
.navBarSection {
  /* background-color: #60a2a2; */
}

/* step3: componentContainer */
.navBarContainer {
  /* background-color: #6666ab; */
  width: 100%;
  margin: auto;
}

/* step4: row */
.navBody {
  /* background-color: #d49494; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0rem;
}

.navBody {
  position: relative;
  /* background: #ff3300; */
  /* padding: 15px; */
}

/* .navBody::after {
    content: "";
    position: absolute;
    top: 0;
    left: 27rem;
    width: 50px;
    height: 100%;
    background: #d4d6db;
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%,0% 30%);
} */

/* step5: column 1 */
.logoBlock {
  background-color: var(--primaryColor);
  padding: 0.1rem 0rem;
}

/* step6: subColumn 1 */
.logoBox {
  /* background-color: #b8860b; */
  padding: 1rem;
  padding-right: 4rem;
}

/* step7: contentContainer */
.logoBox img {
  /* background-color: #a52a2a; */
  height: 4.7rem;
}

/* step5: column 2 */
.navLinkBlock {
  background-color: var(--secondaryColor);
  padding: 0.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* step6: subColumn 2 */
.navLinkBox {
  /* background-color: #deb887; */
  width: 100%;
  justify-content: space-evenly;
}

/* step7: contentContainer */
.navLinkBox li {
  /* background-color: #9acd32; */
  padding-right: 1rem;
}

.navLinkBox a {
  /* background-color: #d2691e; */
  font-family: var(--Quanternary);
  color: var(--primaryColor);
  font-weight: 700;
}
.navLinkBox i {
  /* background-color: #deb887; */
  font-size: 1rem;
  padding-left: 0.3rem;
  color: var(--primaryColor);
}

/* hero */

/* step2: component */
.heroSection {
  /* background-color: #40e0d0; */
  background-image: url(./assets/images/heroBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-color: #ffffff;
}

/* step3: componentContainer */
.heroContainer {
  /* background-color: #ff6347; */
}

/* step4: row */
.heroBody {
  /* background-color: #00ffff; */
  padding: 10rem 5rem;
}

/* step5: column */
.heroBlock {
  /* background-color: #ffe4c4; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* step6: subColumn */
.heroBox {
  /* background-color: #10dab2; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/* step7: contentContainer */
.heroBox h1 {
  /* background-color: #7fff00; */
  font-family: var(--ffPrimary);
  font-size: 6.5rem;
  color: var(--primaryColor);
  margin-bottom: 3rem;
}

.heroBox p {
  /* background-color: #344425; */
  color: var(--primaryColor);
  font-family: var(--ffPrimary);
  margin-bottom: 4rem;
  text-wrap: wrap;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.heroBtn {
  /* background-color: #769b52; */
  width: 100%;
  padding: 2rem;
  column-gap: 2rem;
}

.heroBtn button {
  /* background-color: #769b52; */
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--ffQuanternary);
  color: var(--primaryColor);
  background: var(--secondaryColor);
  border: none;
}

/* about */

/* step2: component */
.aboutUsSection {
  background-color: hsl(0, 0%, 100%);
}

/* step3: componentContainer */
.aboutContainer {
  /* background-color: #3f3f81; */
}

/* step4: row */
.aboutUsBody {
  /* background-color: #b384b3; */
  padding: 1rem;
  gap: 3rem;
}

/* step5: column1 */
.aboutUsBlock {
  /* background-color: #8e8e55; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* step6: subColumn2 */
.abutUsBox {
  /* background-color: #508250; */
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;
}

/* step7: contentContainer */
.abutUsBox h4 {
  /* background-color: #e56464; */
  font-family: var(--Quanternary);
  font-size: 2.6rem;
  color: var(--secondaryColor);
  margin-bottom: 1rem;
  font-weight: 500;
}

.abutUsBox h2 {
  /* background-color: #e56464; */
  font-family: var(--ffQuanternary);
  font-size: 5rem;
  color: var(--lightColor);
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.abth2 {
  color: var(--secondaryColor);
}

.abutUsBox h5 {
  /* background-color: #e56464; */
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  color: var(--lightColor);
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.abutUsBox p {
  /* background-color: #e56464; */
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  text-align: justify;
  color: #040c26;
  font-weight: 500;
  line-height: 1.46;
  margin-bottom: 2rem;
}

.abtP {
  /* background-color: #387d60; */
  /* color: #040c26; */
  font-weight: 600;
}

.abutUsBox button {
  /* background-color: #ee82ee; */
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  font-family: var(--ffQuanternary);
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.abutUsBox button:hover {
  /* background: #6495ed; */
}

/* step5: column2 */
.aboutUsImageBlock {
  /* background-color: #8a2be2; */
}

/* step6: subColumn1 */
.aboutUsImageBox {
  /* background-color: #e1dc87;  */
}

/* step7: contentContainer */
.aboutUsImageBox img {
  /* background-color: #a55959; */
  border-radius: 5px;
}

/* expertise */

/* step2: component */
.expertiseSection {
  background-color: #0a133e;
}

/* step3: componentContainer */
.expertiseContainer {
  /* background-color: #6666ab; */
  width: 100%;
  margin: auto;
}

/* step4: row */
.expertiseBody {
  /* background-color: #d49494; */
  column-gap: 4rem;
  padding: 5rem;
  row-gap: 3rem;
}

/* step5: column 1 */
.expertiseBlock {
}

/* step6: subColumn 1 */
.expertiseBox {
  /* background-color: #b8860b; */
}

/* card */
.expertiseCard {
  /* background-color: #59cbcb; */
  border-radius: 5px;
  padding: 5rem 2rem;
}

/* step7: contentContainer */
.expertiseCard h3 {
  /* background-color: #59cbcb; */
  font-family: var(--ffQuanternary);
  font-size: 5rem;
}

.expertiseCard h4 {
  /* background-color: #59cbcb; */
  font-family: var(--ffTertiary);
  font-size: 2.2rem;
  color: var(--primaryColor);
}
.expertiseSpan {
  font-family: var(--ffQuanternary);
  font-size: 3.5rem;
  font-weight: 400;
}

.c1 {
  border: 3px solid #00c5dc;
  color: #00c5dc;
}

.c2 {
  border: 3px solid #ffb822;
  color: #ffb822;
}

.c3 {
  border: 3px solid #ff3c85;
  color: #ff3c85;
}

/* serviceCard */

/* step2: component */
.serviceSection {
  background-color: #dfedf3;
}

/* step3: componentContainer */
.serviceContainer {
  /* background-color: #6666ab; */
}

/* step4: row1 */
.headingBody {
  /* background-color: #d49494; */
}

/* step5: column 1 */
.headingBlock {
  /* background: #ff3300; */
}

/* step6: subColumn 1 */
.headingBox {
  /* background-color: #b8860b; */
  width: 100%;
}

/* step7: contentContainer */
.headingBox h2 {
  /* background-color: #a52a2a; */
  color: var(--headingColor);
  font-family: var(--ffTertiary);
  font-size: 3.2rem;
  margin-bottom: 2rem;
  text-wrap: wrap;
}

.headingBox h4 {
  /* background-color: #a52a2a; */
  color: var(--secondaryColor);
  font-family: var(--ffQuanternary);
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.serviceBody {
  /* background-color: #539f86; */
  gap: 3rem;
  padding: 1rem;
}

.serviceBlock {
  /* background-color: #dddd11; */
  background-color: #ffffff;
  padding: 2rem 2.2rem;
}

.serviceBox {
  /* background-color: #2d6320; */
}

.serviceCrad {
  /* background-color: #cb5945; */
}

.serviceCardHead {
  /* background-color: #38bd17; */
}

.serviceCardHead img {
  /* background-color: #17a1bd; */
  margin-bottom: 2rem;
}

.servicceCardMain {
  /* background-color: #b7d038; */
  margin-bottom: 2rem;
}

.servicceCardMain h4 {
  /* background-color: #42320b; */
  font-family: var(--ffTertiary);
  font-size: 2.2rem;
  color: var(--headingColor);
  margin-bottom: 2rem;
  text-wrap: wrap;
}

.servicceCardMain p {
  /* background-color: #d04f38; */
  margin-bottom: 2rem;
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  color: var(--headingColor);
  text-wrap: wrap;
}

.servicceCardMain li {
  /* background-color: #494d74; */
  text-align: start;
  margin-bottom: 0.5rem;
  display: flex;
}

.servicceCardMain i {
  /* background-color: #84b243; */
  /* padding-top: 1rem; */
  font-size: 2.2rem;
  color: var(--secondaryColor);
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

.servicceCardMain a {
  /* background-color: #731b44; */
  padding-left: 1rem;
  /* display: flex; */
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--headingColor);
  text-wrap: wrap;
}

.servicceCardMain a:hover {
  color: var(--secondaryColor);
}

.serviceCardFooter {
  /* background-color: #741f1f; */
}

.serviceCardFooter button {
  /* background-color: #951fa7; */
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-family: var(--ffQuanternary);
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}


/* decideCard */

/* step2: component */
.decideSection {
  /* background-color: #5dd0d0; */
  background-image: url(./assets/images/dedideBg.jpg);
  background-position: center center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

/* step3: componentContainer */
.decideContainer {
  /* background-color: #9aacac; */
}

/* step4: row */
.decideCardBody {
  /* background-color: #a870a1; */
  gap: 3rem;
  padding: 5rem 6rem;
  row-gap: 6rem;
}

/* step5: column1 */
.decideBlock {
  /* background-color: #624151; */
}

/* step6: subColumn1 */
.decideBox {
  /* background-color: #ffffff; */
  width: 100%;
  position: relative;
}

/* cardHead */
.decideCardHead {
  /* background-color: #035895; */
  position: absolute;
  top: -10px;
}

/* step7: contentContainer */
.decideCardHead h2 {
  /* background-color: #b3ad5b; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    background-color: var(--mediumBlueColor);
    color: #ffffff;
    border-radius: 50%;
    height: 80px;
    width: 80px;  
}

/* cardMain */

.decideCardMain {
  background-color: #ffffff;
  /* width: 100% !importany; */
  margin-top: 4rem;
  padding: 3rem;
}

.decideCardMain h3 {
  /* background-color: #a86e47; */
  /* margin-bottom: 2rem; */
  color: var(--headingColor);
  font-family: var(--ffTertiary);
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-wrap: wrap;
  margin-top: 4rem;
}

.decideCardMain p {
  /* background-color: #4a4ca0; */
    /* margin-bottom: 2rem; */
    font-family: var(--ffQuanternary);
    font-size: 1.8rem;
    color: var(--headingColor);
    text-wrap: wrap;
    /* font-weight: 500; */
}

/* card1 */

.decide1 h2{
    background-color: #ffffff;
    color:var(--mediumBlueColor);
    border: 1px solid var(--mediumBlueColor);
}

.decide1 .decideCardMain{
    background-color: #035895;
    border: 1px solid var(--primaryColor);
}

.decide1 h3{
    color: #ffffff;
}

.decide1 p{
    color: #ffffff;
}

/* card2 */

.decide2 h2{
    color: #ffffff;
    background-color:var(--mediumBlueColor);
    
}

.decide2 .decideCardMain{
    background-color: #ffffff;
    margin-top: 4rem;
}

.decide2 h3{
    color: #000000;
    text-wrap: wrap;
}

.decide2 p{
    color: #000000;
    text-wrap: wrap;
    margin-bottom: 1rem;
}

/* reviews */


/* step2: component */
.reviewSection {
  background-color: #f7f9fb;
  padding: 9rem 2rem;
}

/* step3: componentContainer */
.reviewContainer {
  /* background-color: #6666ab; */
}

/* step4: row1 */
.headingBody {
  /* background-color: #d49494; */
}

/* step5: column 1 */
.headingBlock {
  /* background: #ff3300; */
}

/* step6: subColumn 1 */
.headingBox {
  /* background-color: #b8860b; */
}

/* step7: contentContainer */
.headingBox h2 {
  /* background-color: #a52a2a; */
  color: var(--headingColor);
  font-family: var(--ffTertiary);
  font-size: 3.2rem;
  margin-bottom: 2rem;
  text-wrap: nowrap;
}

.headingBox h4 {
  /* background-color: #a52a2a; */
  color: var(--secondaryColor);
  font-family: var(--ffQuanternary);
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.reviewBody {
  /* background-color: #539f86; */
  gap: 3rem;
  padding: 1rem;
}

.reviewBlock {
  /* background-color: #dddd11; */
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #dce0e3;
  box-shadow: rgb(115, 109, 109) 5px 25px 35px -35px;
}

.reviewBox {
  /* background-color: #2d6320; */
}

.reviewCrad {
  /* background-color: #cb5945; */
}

.reviewCardHead {
  /* background-color: #38bd17; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reviewCardHead i {
  /* background-color: #17a1bd; */
  font-size: 6rem;
  color: var(--secondaryColor);
  margin-bottom: 2rem;
}

.serviceCardMain {
  /* background-color: #b7d038; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
}

.servicceCardMain p {
  /* background-color: #42320b; */
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  color: var(--headingColor);
  margin-bottom: 2rem;
}

.reviewCardFooter {
  /* background-color: #d04f38; */
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;
  text-align: start;
}

.reviewfooterImg {
  /* background-color: #494d74; */
}

.reviewfooterImg img {
  /* background-color: #84b243; */
  height: 7rem;
}

.reviewFooterPara {
  /* background-color: #731b44; */
  text-align: start;
  text-wrap: wrap;
}

.reviewFooterPara p {
  /* background-color: #731b44; */
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--headingColor);
  text-wrap: wrap;
}

.reviewFooterPara span {
  /* background-color: #731b44; */
  /* display: flex; */
  font-family: var(--ffQuanternary);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondaryColor);
  text-wrap: wrap;
}
/* step1: parentContainer */

/* already written in style.css */

/* step2: component */
.contactSection {
  background-color: #4829a0;
}

/* step3: componentContainer */
.contactContainer {
  /* background-color: #6666ab; */
  width: 100%;
  margin: auto;
}

/* step4: row */
.contactBody {
  /* background-color: #d49494; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem 6rem;
  column-gap: 1rem;
}

/* step5: column 1 */
.contactBlock {
  /* background-color: #872828; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* step6: subColumn 1 */
.contactIconBox {
  background-color: #5B3FAA;
  padding: 1.5rem 2rem;
  border-radius: 3px;
}

/* step7: contentContainer */
.contactIconBox i {
  /* background-color: #59cbcb; */
  font-size: 5rem;
  color: var(--secondaryColor);
  /* font-weight: 500; */
}

.contactBox {
  /* background-color: #59cbcb; */
  padding-left: 2rem;
}

.contactBox h4 {
  font-family: var(--ffQuanternary);
  font-size: 3.2rem;
  color: var(--primaryColor);
  font-weight: 400;
}

.contactBox p {
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  color: var(--primaryColor);
  text-wrap: nowrap;
  font-weight: 400;
}

.contactButtonBlock {
  /* background-color: #cd36cd; */
}

.contactButtonBox {
  /* background-color: #54b1a8; */
}

.contactButtonBox button {
  /* background-color: #54b1a8; */
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-family: var(--ffQuanternary);
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}


/* clients */

/* clients */

/* step2: component */
.clientSection {
  background-color: #dfedf3;
  padding: 8rem 2rem;
}

/* step3: componentContainer */
.clientContainer {
  /* background-color: #6666ab; */
}

/* step4: row1 */
.headingBody {
  /* background-color: #d49494; */
}

/* step5: column 1 */
.headingBlock {
  /* background: #ff3300; */
}

/* step6: subColumn 1 */
.headingBox {
  /* background-color: #b8860b; */
}

/* step7: contentContainer */
.clientContainer h2 {
  /* background-color: #a52a2a; */
  color: var(--headingColor);
  font-family: var(--ffQuanternary);
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: capitalize;
  /* margin-bottom: 2rem; */
}

.clientContainer h4 {
  /* background-color: #a52a2a; */
  color: var(--secondaryColor);
  font-family: var(--ffQuanternary);
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.clientBody {
  /* background-color: #539f86; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
  row-gap: 2rem;
  padding: 1rem;
}

.clientBlock {
  /* background-color: #dddd11; */
  /* background-color: #9d4343; */
  padding: 1rem;
}

.clientBox {
  /* background-color: #2d6320; */
}

.clientBox img {
  /* background-color: #cb5945; */
  height: auto;
  width: 100%;
}

/* footer */


/* step2: component */
.footerSection{
  
}

/* step3: componentContainer */
.footerContainer{
  /* background-color: #9aacac; */
  max-width: 100%;
  margin: auto;
}

/* step4: row */
.footerBody{
  background-color: var(--blueColor);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 7rem 4.5rem;
}

/* step5: column1 */
.footerBlock{
  /* background-color: #624151; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  /* grid-area: f1;
  grid-area: f2; */
}

/* step6: subColumn1 */
.footerbox{
  /* background-color: #56af7f; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.footerHead {
  /* background-color: #a86e47; */
}

/* step7: contentContainer */
.footerHead h5{
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  color: var(--primaryColor);
  font-weight: 400;
  margin-bottom: 4rem;
  text-wrap: nowrap;
}

.footerMain{
  /* background-color: #d3d343; */
}

.footerMain li{
  /* background-color: #bb5dbb; */
  list-style: none;
  color: var(--footerTextColor);
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
}

.footerMain i{
  /* background-color: #ffffff; */
  color: var(--footerTextColor);
  font-size: 1.3rem;
  position: absolute;
  top: 0.7rem;
}

.footerMain a{
  /* background-color: #bb5dbb; */
  text-decoration: none;
  font-family: var(--ffQuanternary);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--footerTextColor);
  text-wrap: wrap;
  padding-left: 1.5rem;
  
}

.footerMainCard{
  /* background-color: #5a47db; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footMainIcon{
  /* background-color: #8e1b8e; */
}

.footMainIcon i{
  /* background-color: #44dd4e; */
  font-size: 3rem;
  color: var(--footerTextColor);
  padding-right: 1rem;
}

.footContact{
  /* background-color: #bb5dbb; */
}

.footContact strong{
  /* background-color: #bb5dbb; */
  font-family: var(--ffQuanternary);
  color: var(--footerTextColor);
  font-size: 1.8rem;
  font-weight: 600;
}

.footContact p{
  /* background-color: #bb5dbb; */
  font-family: var(--ffQuanternary);
  color: var(--footerTextColor);
  font-size: 1.8rem;
  text-wrap: wrap;
}

.footP{
  margin-bottom: 2rem;
}
.footerContactIcon{
  /* background-color: #4e9446; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContactIcon li{
  /* background-color: #46947a; */
  padding-right: 1rem;
}

.footerContactIcon i{
  /* background-color: #46947a; */
  color: var(--primaryColor);
}

.icon1{
  height: 40px;
  width: 40px;
  background-color: #4a68a7;
  font-size: 1.3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 3rem;   */
}

.footerContactIcon .icon2{
  height: 40px;
  width: 40px;
  background-color: #0e91e3;
  font-size: 1.3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContactIcon .icon3{
  height: 40px;
  width: 40px;
  background-color: #a8786c;
  font-size: 1.3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyRightsBody{
  background-color: var(--secondaryColor);
  padding: 3rem;
}

.copyRightsBlock{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.copyRightsBox{
  font-family: var(--ffQuanternary);
  color: var(--footerTextColor);
  font-size: 1.4rem;
}

.copyRightsImageBlock{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.copyRightsParaBox{
  display: flex;
  align-items: flex-end;
  justify-content:center;
  flex-direction: column;
}

.copyRightsParaBox p{
  font-family: var(--ffQuanternary);
  color: var(--footerTextColor);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}