/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .navBody {
    /* background-color: #d49494; */
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .navLinkBlock{
    display: none;
  }
  .logoBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logoBox {
    /* background-color: #b8860b; */
    /* padding: 1rem; */
    padding-right: 0rem;
  }

  .logoBox img {
    /* background-color: #a52a2a; */
    height: 4rem;
  }

  .heroBlock {
    /* background-color: #ffe4c4; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* step6: subColumn */
  .heroBox {
    /* background-color: #10dab2; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .heroBox h1 {
    /* background-color: #7fff00; */
    font-size: 4rem;
    font-weight: 600;
    text-wrap: wrap;
  }
  .heroBox p {
    /* background-color: #344425; */
    font-size: 1.4rem;
    text-wrap: wrap;
  }

  .headingBox h2 {
    /* background-color: #a52a2a; */
   text-wrap: wrap;
  }

  .expertiseCard {
    /* background-color: #59cbcb; */
    border-radius: 5px;
    padding: 3rem 1.5rem;
  }

  .expertiseCard h3 {
    /* background-color: #59cbcb; */
    font-weight: 400;
    font-size: 3.6rem;
  }

  .expertiseCard h4 {
    /* background-color: #59cbcb; */
    font-weight: 700;
  }

  .serviceBlock {
    /* background-color: #dddd11; */
    padding: 3rem;
  }

  .reviewContainer{
    padding: 1rem;
  }

  .contactBody {
    background-color: #d49494;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    column-gap: 0rem;
  }

  .contactBlock {
    /* background-color: #5c40ab; */
    width: 50%;
  }

  .contactParaBlock {
    /* background-color: #59cbcb; */
    width: 100%;
  }
  
  .contactButtonBox button {
    /* background-color: #54b1a8; */
    text-wrap: nowrap;
  }

  .align{
    padding: 1rem;
  }

  .clientBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footerBody{
    display: grid;
    grid-template-areas: "f1 f2",
    "f3 f3"
    "f4 f4";
    padding: 2rem;
  }

}

/* Medium devices (tablets, upto 768px and above) */
/* @media (min-width: 577px) and (max-width: 768px) */
@media (width >=577px) and (width <=768px) {
  .navLinkBox{
    display: none;
  }

  .navBody {
    /* background-color: #d49494; */
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .navLinkBlock{
    display: none;
  }
  .logoBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logoBox {
    /* background-color: #b8860b; */
    /* padding: 1rem; */
    padding-right: 0rem;
  }

  .logoBox img {
    /* background-color: #a52a2a; */
    height: 4rem;
  }

  .heroBlock {
    /* background-color: #ffe4c4; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* step6: subColumn */
  .heroBox {
    /* background-color: #10dab2; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .heroBox h1 {
    /* background-color: #7fff00; */
    font-size: 4rem;
    text-wrap: wrap;
  }
  .heroBox p {
    /* background-color: #344425; */
    font-size: 1.4rem;
    text-wrap: wrap;
  }
  .align{
    padding: 1rem;
  }

  .clientBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (min-width: 769px) and (max-width: 992px) */
@media (width >=769px) and (width <=992px) {
  /* write code here */
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (min-width: 993px) and (max-width: 1200px) */
@media (width >=993px) and (width <=1200px) {
  /* write code here */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (min-width: 1200px)  */
@media (width >=1200px) {
  /* write code here */
}
